body{background: rgb(97, 166, 230);}

h1{
font-size: 30px;
font-family: serif;
color: aliceblue;}

h2{ 
font-size: 60px;
    padding: 1em;
font-family: 'Times New Roman', Times, serif;
text-align: center;
color: rgb(216, 212, 94);

}
h3{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
padding-left: 80%;
color: rgb(216, 212, 94);
}

h4
{
    .gravitas-one-regular 
font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
 font-size: 30px;
    text-align: left;
    padding-right: 80%;
    padding-bottom: 20%;
color: rgb(216, 212, 94);}


main {
    color: bisque;
}
.little {
  padding-bottom: 20%;
   
}

.bro {
    
}

.sag {
    padding-bottom: 15%;
}

.dc { 
    padding-bottom: 15%;
}

.makeup {
    padding-bottom: 25%;
}